:root{
    --primary-color:#f2eaf6;
    --secondary-color:rgb(153, 0, 255);
}

/* Header */
nav, header{
    background-color: var(--primary-color);
}

nav .btn:hover{
    color: var(--secondary-color);
    border-color:var(--secondary-color);
    background-color: white;
}

.nav-link:hover{
    color: var(--secondary-color) !important;
}

.shopInfo{
    max-width: 35%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    max-width: 600px;
}
/* Items */
.card-img-top {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}