:root{
    --primary-color:#f2eaf6;
    --secondary-color:rgb(168, 118, 248);
}

html, body{
    width: 100vw;
    min-height: 100vh;
    position: relative;
}
/* Header */
nav, header{
    background-color: var(--primary-color);
}

nav .btn:hover{
    color: var(--secondary-color);
    border-color:var(--secondary-color);
    background-color: white;
}
.nav-link{color: black !important;}
.nav-link:hover{
    color: var(--secondary-color) !important;
}

.shopInfo{
    max-width: 35%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header img{
    max-width: 600px;
}

/* Sections */
section h2{
    color: var(--secondary-color)
}
section button:hover, form button:hover{
    background-color: white !important;
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.card{
    border: unset !important;
}
.card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
/* Items */
.card-img-top {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

/*Modal*/
.modal-body a{
    background-color: var(--secondary-color);
    border: none;
}
.modal-body a:hover{
    background-color: white;
    border: 1px solid  var(--secondary-color);
    color: var(--secondary-color);
}

/* CHeckout form*/
form button{
    background-color: var(--secondary-color) !important;
    border-color: transparent !important;
}

footer{
    position: absolute;
    bottom: -50px;
    width: 100%;
}